* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #0C6170;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;  /* to remove shrink or contractness of img */
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
}

#user-score, #bot-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #003060;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}