* {
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: #dda15e;
    display: flex;
    justify-content: center;
    align-items: center;
}

#panel {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fefae0;
    overflow: hidden;  /* hide the overflow area of the panel-top*/
}

#panel-top {
    width: 100%;
    height: 70px;
    color: #fff;
    padding: 0px 20%;
    justify-content: space-between;
    align-items: center;
    background-color: #bc6c25;
    display: flex;
}

.scoreboard {
    display: flex;
    align-items: center;
    gap: 20px;
}

.box {
    color: rgb(50, 105, 50);
    font-weight: 600;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}

#panel-btm {
    width: 100%;
    height: calc(100% - 70px);
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.bubble {
    width: 40px;
    height: 40px;
    background-color: #606c38;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.bubble:hover {
    cursor: pointer;
    background-color: #283618;
}