body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: #d95980;
}

.yellow {
    background-color: #f99b45;
}

.green {
    background-color: #5db8d4;
}

.purple {
    background-color: #3e6aee;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: rgb(93, 243, 93);
}

/* .scoreCard {
    position: absolute;
    top: 12px;
    right: 100px;
    font-size: 30px;
    font-weight: bold;
    font-family: "New Tegomin", serif;
    line-height: 45px;
} */

