@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
* {
    padding: 0;
    margin: 0;
}

.body {
    background: url("./assets/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox {
    position: absolute;
    top: 59px;
    right: 50px;
    font-size: 39px;
    font-weight: bold;
    font-family: "New Tegomin", serif;
}

#hiscoreBox {
    position: absolute;
    top: 9px;
    right: 50px;
    font-size: 39px;
    font-weight: bold;
    font-family: "New Tegomin", serif;
}

#board {
    width: 90vmin;
    height: 92vmin;
    background: linear-gradient(rgb(115, 240, 115), rgb(255, 255, 84));
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient( #FBB03B, #D4145A);
    border: 2px solid rgb(80, 0, 80);
    border-radius: 9px;
    transform: scale(1.05);
}

.snake {
    background: linear-gradient(#662D8C , #ED1E79);
    border: .25vmin solid gold;
    border-radius: 12px;
}

.food {
    background: linear-gradient(#2E3192, #1BFFFF);
    border: .25vmin solid black;
    border-radius: 8px;
}